<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

<link th:href="@{css/custom.css}" rel="stylesheet">
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span> 
                	LOGO
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a href="@{/PhotoGallery}">Photography</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="">Engage</a></li>
							<li><a href="#">Pontificate</a></li>
							<li><a href="#">Synergize</a></li>
						</ul>
					</li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    
   <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Our Gallery</h1>
                <p>You can pick one or more photos and add them to your order</p>
            </div>
        </div>
    </header>
    
    <section id="main">
    <form th:action="@{/useRequestView}" method="post" th:object="@{UseRequest}">
    	<label for="name">Name</label> 
    	<input name="name" id="name" type="text" placeholder="Name" th:field="*{name}"><br>
    	<label for="surname">Surname</label> 
    	<input name="surname" id="surname" type="text" placeholder="Surname" th:field="*{surname}"><br>
    	<input type="submit"  class="button" value="Submit">
    </form>
    	<div class="content">
    		<div th:each="photograph : ${photographs}" class="showingGallery">
	    		<a th:href="@{'/getPhoto/' + @{photograph.id}}">
	    		<img alt="" th:src="@{'/getPhoto/' + ${photograph.id}}" th:title="${photograph.photoName}">
	    		</a>
	    		<table>
	    		<tr>
	    			<td><h3 th:text="${photograph.price} + 'euros'"</h3></td>
	    			<td><button name="buy">Buy</button></td>
	    			</tr>
	    		</table>
	    		
    		</div>
    	</div>
    </section>



</body>
</html>